* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
<<<<<<< HEAD
=======

>>>>>>> a48670729da9c9015bd5824a5bc8973037f3e202
body {
    font-family: 'Arial', sans-serif;
    background-color: #d9ead3;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
<<<<<<< HEAD
=======

>>>>>>> a48670729da9c9015bd5824a5bc8973037f3e202
h1 {
    text-align: center;
    color: #1a2516;
    margin-bottom: 20px;
}
<<<<<<< HEAD
=======

>>>>>>> a48670729da9c9015bd5824a5bc8973037f3e202
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}
<<<<<<< HEAD
=======

>>>>>>> a48670729da9c9015bd5824a5bc8973037f3e202
label {
    font-weight: bold;
    margin-right: 10px;
}
<<<<<<< HEAD
=======

>>>>>>> a48670729da9c9015bd5824a5bc8973037f3e202
p {
    margin: 15px;
    font-size: 1.1rem;
    color: #555;
}
<<<<<<< HEAD
=======

>>>>>>> a48670729da9c9015bd5824a5bc8973037f3e202
button[type="submit"] {
    background-color: #007bffaf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
<<<<<<< HEAD
button[type="submit"]:hover {
    background-color: #0056b3;
}
=======

button[type="submit"]:hover {
    background-color: #0056b3;
}
>>>>>>> a48670729da9c9015bd5824a5bc8973037f3e202
