* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #d9ead3;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: flex-start;
    /* Zarovná obsah odhora */
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 20px;
}

h1 {
    color: #1a2516;
    text-align: center;
    margin-bottom: 10px;
    /* Zmenšené odsadenie pod nadpisom */
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    /* Zmenšené odsadenie nad formulárom */
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #007bffaf;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.auth-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    /* Zmenšené odsadenie nad tlačidlami */
}

.auth-buttons a {
    background-color: #007bffaf;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.auth-buttons a:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
}

ul li {
    color: red;
    font-size: 1rem;
    margin-bottom: 10px;
}