<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pridať Prácu</title>
</head>

<body>
    <h1>Pridať Prácu</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="title">Názov:</label>
        <input type="text" name="title" required><br>

        <label for="description">Popis:</label>
        <textarea name="description" required></textarea><br>

        <label for="school">Škola:</label>
        <input type="text" name="school" required><br>

        <label for="faculty">Fakulta:</label>
        <input type="text" name="faculty" required><br>

        <label for="year">Ročník:</label>
        <input type="text" name="year" required><br>

        <label for="recenzent">Recenzent:</label>
        <input type="text" name="recenzent" value="{{ recenzent_name }}" readonly><br>

        <label for="file">Súbor:</label>
        <input type="file" name="file" required><br>

        <button type="submit">Pridať Prácu</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>