<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>

<body>
    <h1>Admin Dashboard</h1>

    <!-- Dropdown menu na filtrovanie podľa konferencií -->
    <form method="get" action="{{ url_for('admin_dashboard') }}">
        <label for="conference">Vyberte konferenciu:</label>
        <select name="conference_id" id="conference" onchange="this.form.submit()">
            <option value="" {% if not selected_conference_id %}selected{% endif %}>Všetky konferencie</option>
            {% for conference in conferences %}
            <option value="{{ conference['_id'] }}" {% if selected_conference_id==conference['_id'] %}selected{% endif
                %}>
                {{ conference['name'] }}
            </option>
            {% endfor %}
        </select>
    </form>

    <!-- Zobrazenie prác -->
    {% if works %}
    <h3>Práce pridané študentami:</h3>
    <ul>
        {% for work in works %}
        <li>
            <strong>Konferencia:</strong> {{ work.conference_name }}<br>
            <strong>Názov práce:</strong> {{ work.title }}<br>
            Študent: {{ work.full_name }}<br>
            Popis: {{ work.description }}<br>
            Škola: {{ work.school }}<br>
            Fakulta: {{ work.faculty }}<br>
            Ročník: {{ work.year }}<br>
            <a href="{{ work.file_path }}" target="_blank">Zobraziť súbor</a><br>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Žiadne práce neboli pridané.</p>
    {% endif %}

    <a href="{{ url_for('logout') }}">Odhlásiť sa</a>
</body>

</html>