<!DOCTYPE html lang="sk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Priradenie recenzenta </title>
  </head>
  <body>
    <div>
      <h2> Priradenie recenzenta k práci </h2>
      <form action="" method="post">
        {% if users %}
          {% for user in users %}
            <input type="radio" id="{{ user.surname }}" name="recenzent" value="{{ user.surname }}" />
          {% endfor %}
          <input type="submit" value="Priradiť" />
        {% else %}
          <p> Nenašli sa recenzenti na priradenie. </p>
        {% endif %}
      </form>
    </div>
  </body>
</html>
