<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prihlásenie</title>
</head>

<body>
    <h1>Prihlásenie</h1>

    <!-- Zobrazenie chybových a úspešných hlásení (flash správ) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>

        <label for="password">Heslo:</label>
        <input type="password" name="password" required>
        <br>

        <button type="submit">Prihlásiť sa</button>
    </form>
    <br>

    <!-- Odkaz na registráciu -->
    <a href="{{ url_for('register') }}">
        <button>Registrovať sa</button>
    </a>

    <!-- Odkaz na konferencie -->
    <br><br>
    <a href="{{ url_for('first_page') }}">
        <button>Naspät na konferencie</button>
    </a>
</body>

</html>