<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviewer Dashboard</title>
</head>

<body>
    <h1>Vitajte v Dashboarde Recenzenta</h1>
    <p>Toto je dashboard pre recenzentov.</p>

    <h2>Priradené Práce v tejto Konferencii:</h2>
    <ul>
        {% if works %}
        {% for work in works %}
        <li>
            <strong>Názov:</strong> {{ work.title }}<br>
            <strong>Popis:</strong> {{ work.description }}<br>
            <strong>Škola:</strong> {{ work.school }}<br>
            <strong>Fakulta:</strong> {{ work.faculty }}<br>
            <strong>Študent:</strong> {{ work.student_name }}<br> <!-- Zobrazenie mena študenta -->
            <strong>Dátum nahrania:</strong> {{ work.uploaded_at.strftime('%d.%m.%Y %H:%M:%S') }}<br>
            <a href="{{ work.file_path }}" target="_blank">Zobraziť súbor</a><br>

            <!-- Formulár na pridanie posudku -->
            <form method="POST" action="{{ url_for('add_review', work_id=work['_id']) }}">
                <button type="submit">Pridať posudok</button>
            </form>
        </li>
        {% endfor %}
        {% else %}
        <li>Žiadne priradené práce na recenzovanie v tejto konferencii.</li>
        {% endif %}
    </ul>

    <a href="{{ url_for('logout') }}">Odhlásiť sa</a><br>
    <a href="{{ url_for('view_conferences') }}">Naspäť na konferencie</a>
</body>

</html>