<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviewer Dashboard</title>
    <link href="{{ url_for('static', filename='style_css/recenzent_dashboard.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- Dashboard Title -->
        <h1>Vitajte v dashboarde recenzenta</h1>
        <!-- Priradené práce -->
        <h2>Priradené práce pre Vás v tejto konferencii - {{ session['current_conference_name'] }}</h2>
        <div>
            {% if works %}
            {% for work in works %}
            <div class="work-item">
                <p><strong>Názov:</strong> {{ work.title }}</p>
                <p><strong>Popis:</strong> {{ work.description }}</p>
                <p><strong>Škola:</strong> {{ work.school }}</p>
                <p><strong>Fakulta:</strong> {{ work.faculty }}</p>
                <p><strong>Študent:</strong> {{ work.student_name }}</p> <!-- Zobrazenie mena študenta -->
                <p><strong>Dátum nahrania:</strong> {{ work.uploaded_at.strftime('%d.%m.%Y %H:%M:%S') }}</p>
                <a href="{{ work.file_path }}" target="_blank">Zobraziť súbor</a><br>

                <!-- Kontrola existencie posudku pre danú prácu -->
            <p><strong>Posudok:</strong>
                {% if work.review %}
                {{ work.review }}
                <br>
                <a href="{{ url_for('view_review_recenzent', work_id=work['_id']) }}">Zobraziť podrobnosti posudku</a>
                {% else %}
                Posudok ešte nebol pridaný.
                {% endif %}
            </p>


                <!-- Tlačidlo na recenziu (pridať posudok) -->
                {% if not work.review %}
                <form method="POST" action="{{ url_for('review_redirect', work_id=work['_id']) }}">
                    <button type="submit" class="button">Pridať posudok</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <p>Žiadne priradené práce na recenzovanie v tejto konferencii.</p>
            {% endif %}
        </div>

        <!-- Odhlásanie a predošlá strana -->
        <!-- Login a predošlá strana -->
        <div class="auth-buttons">
            <a href="{{ url_for('logout') }}" class="logout-link">Odhlásiť sa</a>
            <!-- Odkaz na recenzent dashboard -->
            <a href="{{ url_for('view_conferences') }}" class="back-link">Späť na zoznam prác</a>
        </div>

    </div>
</body>

</html>