<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrácia</title>
    <link href="{{ url_for('static', filename='style_css/register.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Registrácia</h1>
    <div class="auth-buttons">
        <a href="{{ url_for('login') }}">Prihlásiť sa</a>
        <a href="{{ url_for('register') }}">Registrovať sa</a>
    </div>
    <br>
    <!-- Zobrazenie chybových a úspešných hlásení (flash správ) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="POST">
        <label for="surname">Priezvisko:</label>
        <input type="text" name="surname" required>
        <br>

        <label for="name">Meno:</label>
        <input type="text" name="name" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>

        <label for="password">Heslo:</label>
        <input type="password" name="password" required>
        <br>

        <label for="school">Vyberte školu:</label>
        <select name="school" required>
            <option value="Univerzita sv. Cyrila a Metoda v Trnave">Univerzita sv. Cyrila a Metoda v Trnave</option>
            <option value="Univerzita Konštantína Filozofa v Nitre">Univerzita Konštantína Filozofa v Nitre</option>
            <option value="Univerzita Mateja Bela v Banskej Bystrici">Univerzita Mateja Bela v Banskej Bystrici</option>
        </select>
        <br>

        <button type="submit">Zaregistrovať sa</button>
    </form>
</body>

</html>
