<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <title>Dashboard Študenta</title>
</head>

<body>
    <!-- Zobrazenie názvu konferencie -->
    <h1>Vitajte v konferencii: {{ session['current_conference_name'] }}</h1>

    <!-- Tlačidlo na pridanie práce -->
    <a href="{{ url_for('add_work') }}">
        <button>Pridať Prácu</button>
    </a>
    <br><br>

    <!-- Tlačidlo na odhlásenie -->
    <a href="{{ url_for('logout') }}">
        <button>Odhlásiť sa</button>
    </a>
    <br><br>

    <a href="{{ url_for('view_conferences') }}">
        <button>Naspäť na konferencie</button>
    </a>

    <h2>Vaše Práce:</h2>
    <ul>
        {% for work in works %}
        <li>
            <strong>Názov:</strong> {{ work.title }}<br>
            <strong>Popis:</strong> {{ work.description }}<br>
            <strong>Škola:</strong> {{ work.school }}<br>
            <strong>Fakulta:</strong> {{ work.faculty }}<br>

            <!-- Recenzent - Priradený / Nepriradený -->
            <strong>Recenzent:</strong>
            {% if work.recenzent %}
            Priradený
            {% else %}
            Nepriradený
            {% endif %}
            <br>

            <strong>Dátum nahrania:</strong> {{ work.uploaded_at.strftime('%d.%m.%Y %H:%M:%S') }}<br>
            <a href="{{ work.file_path }}" target="_blank">Zobraziť Súbor</a><br>

            <!-- Posudok -->
            <strong>Posudok:</strong>
            {% if work.review %}
            <!-- Ak existuje posudok -->
            {{ work.review }} <!-- Zobraziť rozhodnutie recenzenta -->
            <br>
            <a href="{{ url_for('view_review', work_id=work['_id']) }}">Zobraziť podrobnosti posudku</a>
            {% else %}
            Posudok ešte nebol pridaný.
            {% endif %}
        </li>
        {% else %}
        <li>Žiadne práce na zobrazenie.</li>
        {% endfor %}
    </ul>
</body>

</html>