<!DOCTYPE html>
<html lang="sk">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Submission of Work</title>
</head>

<body>
	<h2>Submission of Work</h2>
	<form action="{{ url_for('add_work') }}" method="POST" enctype="multipart/form-data">
		<label for="title">Title:</label>
		<input type="text" name="title" required><br>

		<label for="description">Description:</label>
		<textarea name="description" required></textarea><br>

		<label for="school">School:</label>
		<input type="text" name="school" required><br>

		<label for="faculty">Faculty:</label>
		<input type="text" name="faculty" required><br>

		<label for="year">Year:</label>
		<input type="number" name="year" required><br>

		<label for="file">File:</label>
		<input type="file" name="file" required><br>

		<input type="submit" value="Submit Work">
	</form>
</body>

</html>