<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <title>Posudok pre prácu: {{ work['title'] }}</title>
    <link href="{{ url_for('static', filename='style_css/view_review_admin.css') }}" rel="stylesheet">
</head>

<body>
    <h1>Posudok pre prácu: {{ work['title'] }}</h1>

    {% if review %}
    <h3>Podrobnosti o posudku:</h3>

    {% if reviewer %}
    <h4>Recenzent:</h4>
    <p>{{ reviewer['surname'] }} {{ reviewer['name'] }}</p>
    {% else %}
    <p>Recenzent nie je k dispozícii.</p>
    {% endif %}

    <p><strong>Dátum pridania:</strong> {{ review['uploaded_at'].strftime('%d.%m.%Y %H:%M:%S') }}</p>

    <h3>Hodnotenie otázok:</h3>
    <p><strong>Splnila práca cieľ? </strong>{{ review['goal'] }}</p>
    <p><strong>Je práca metodologicky správna? </strong>{{ review['methodology'] }}</p>
    <p><strong>Sú výsledky práce zrozumiteľné? </strong>{{ review['results'] }}</p>
    <p><strong>Má práca praktickú hodnotu? </strong>{{ review['practical_value'] }}</p>
    <p><strong>Je text práce gramaticky správny? </strong>{{ review['grammar'] }}</p>
    <p><strong>Je práca štruktúrovaná prehľadne? </strong>{{ review['structure'] }}</p>
    <p><strong>Sú všetky citácie uvedené správne? </strong>{{ review['citations'] }}</p>

    <p><strong>Záverečné rozhodnutie:</strong> {{ review['decision'] }}</p>

    {% else %}
    <p>Posudok pre túto prácu ešte nebol pridaný.</p>
    {% endif %}

    <a href="{{ url_for('admin_dashboard') }}">Späť na admin dashboard</a>
</body>

</html>
