<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zobraziť role používateľov</title>
    <link href="{{ url_for('static', filename='style_css/admin_dashboard.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Role používateľov v konferencii: {{ session['current_conference_name'] }}</h1>

        <div class="users-container">
            {% if roles_info %}
            {% for role in roles_info %}
            <div class="user-container">
                <div class="user-info">
                    <p><strong>Meno:</strong> {{ role.user_name }}</p>
                    <p><strong>Priezvisko:</strong> {{ role.user_surname }}</p>
                    <p><strong>Rola:</strong> {{ role.role }}</p>
                </div>
                <div class="role-change">
                    <form method="POST">
                        <input type="hidden" name="user_id" value="{{ role.user_id }}">
                        <select name="role">
                            <!-- Deaktivovanie možnosti admin pre všetkých, ktorí nie sú už admini -->
                            <option value="visitor" {% if role.role=='visitor' %}selected{% endif %}>visitor</option>
                            <option value="admin" {% if role.role=='admin' %}selected{% endif %} disabled>admin</option>
                            <option value="recenzent" {% if role.role=='recenzent' %}selected{% endif %}>recenzent
                            </option>
                            <option value="student" {% if role.role=='student' %}selected{% endif %}>student</option>
                            <option value="recenzent,student" {% if role.role=='recenzent,student' %}selected{% endif
                                %}>recenzent,student</option>
                        </select>
                        <button type="submit" {% if role.role=='admin' %}disabled{% endif %}>Uložiť</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Žiadne role neboli nájdené pre túto konferenciu.</p>
            {% endif %}
        </div>

    <!-- Stránkovanie -->
<!-- Stránkovanie -->
<div class="pagination">
    {% if current_page > 1 %}
    <a href="{{ url_for('view_users_roles', conference_id=conference_id, page=current_page - 1) }}">Predchádzajúca</a>
    {% endif %}

    <span>Strana {{ current_page }} z {{ total_pages }}</span>

    {% if current_page < total_pages %} <a
        href="{{ url_for('view_users_roles', conference_id=conference_id, page=current_page + 1) }}">Ďalšia</a>
        {% endif %}
</div>
</div>

<a href="{{ url_for('admin_dashboard') }}" class="back-link button">Naspäť na dashboard</a>

</div>

</body>

</html>
